@media (max-width: 800px) {
    .media {
        display: inline-block;
    }
}

body {
    background-color: black;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #201e97;
    border-color: #414549;
}

#clean {
    padding: 10px;
}

.color {
    margin-left: 3px;
}
.container {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    width: 100%;
}

canvas {
    border: 2px solid black;
    background-color: white;
}

.btn-group-toggle {
    margin-bottom: 10px;
}

.media-body {
    margin: 15px;
}

.btn {
    margin: 4px;
    cursor: pointer;
    background-color: #141416;
}

.slidecontainer {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #201e97;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #201e97;
    cursor: pointer;
}

input[type="color"] {
	opacity: 0;
	display: block;
	width: 32px;
	
}
.color-wrapper {
    float: left;
    margin-right: 4px;
    border: 1px solid white;
}